body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

header {
	background-image: ...;
	width: 100%;
	height: 100%;
	position: relative;
}

#header-content{
	position: absolute;
	right:0;
	left: 75%;
}

#header-logo {
	
}

#header-slogan {
	
}

#shortDesc{
	/*text-align: left;
	margin-left: 5%;
	column-count: 2;
	column-gap: 15%;*/
	padding-top: 50%;
	width: 100%;
}

#sd{
	float: left;
	width: 40%;
	margin-left: 5%; 
}

footer{
	padding-top: 5rem;
	bottom: 0;
	text-align: center;
	width: 100%;
}